
.anmeldelsesBillede{
    width: 100%
}

h1{
    font-size: 32px;
    margin: 5px 0;
    font-weight: bolder;
}
h2{
    font-size: 17px;
    margin: 0px 0;
}
date{
    font-size: 13px;
    margin: 0px 0px 5px;
}
.mainContentBox p{
    line-height: 1.4;
    margin: 20px 0;
}


