/*-------------------------------INPUT OMRÅDE--------------------------------*/
.maindiv>p{
    margin-bottom: 10px;
}
form{
    text-align: left;
}
.inputLille{
    width: 400px;
    margin-top: 10px;
}
.inputStor{
    
    margin-top: 10px;
    word-wrap: break-word;
}
.textInput{
    text-align: right;
    margin-top: 14px;
    margin-right: 10px;
}
.textDiv{
    width: 100%;
}
.buttonInput{
    background-color: #0cd9f5;
    margin: 10px 0;
    border-radius: 8px;
    padding: 4px 20px;
    border: 0px solid;
}
textarea{
    resize: none;
}