/*------------------------------CONTENT-----------------------------------*/

html {
	font-family: 'Open Sans', sans-serif;
}
.row {
	display: flex;
	justify-content: space-between;
}
.wrapper.md{
    margin-top: 20px;
}
/*---------------------------------NAV------------------------------------*/

.mainnav {
	background-color: rgba(20, 20, 20, 1);
	margin: 0px auto;
	width: 100%;
}
.mainnav>div {
	justify-content: space-around
}
.mainnav>div>div {
	padding: 15px;
	color: #fff;
}
.mainnav>div>div:hover {
	color: #111;
	background-color: #0cd9f5;
}
.mainnav a {
	color: inherit;
	text-decoration: none;
	text-transform: uppercase;
}
.mainnav a:hover {
	background-color: inherit;
	background-color: #0cd9f5;
}
#navActive {
	color: #111;
	background-color: #0cd9f5;
}
/*------------------------------LOGO HEADER--------------------------------*/
.logoHeader{
    background-image: url(../img/Grafik/cross.png);
    min-height: 150px;
    background-color: #888
}
.socialCont{
    margin-top: 20px;
}
.logo{
    margin-top: 15px;
}
.imgCont{
    padding-bottom: 10px;
}
/*------------------------------KONTAKT HEADER--------------------------------*/
.kontaktWrapper{
    background-color: #fff;
    padding-top: 0px;
}
.innerWrap{
    padding-top: 0px;
    margin-top: 0px;
    height: 70px;
    position: relative;
}

.topBlock{
    position: absolute;
    bottom: 0px;
    background-color: #222;
    width: 690px;
    padding: 16px;
}
.topBlockSm{
    position: absolute;
    bottom: 0px;
    right: 0px;
    background-color: #222;
    width: 240px;
    padding: 16px;
}
.topBlock.kontakt{
    width: 990px;
}

.topBlock p , .topBlockSm{
    color: #0cd9f5;
    font-size: 26px;
    padding-left: 
}
.topBlock p:before , .topBlockSm p:before{
    content: url(../img/Grafik/icon_titlebar.png);
}
/*------------------------FÆLLES FOR SPIL OG ANMELDELSER---------------------*/

/*---Div og Page Layout---*/
.wrapper.md{
    margin-top: 0px;
}
.mainContentBox{
    width: 722px;
    margin-top: 20px;
}
.spilAnmeld{
    width: 272px;
    margin-top: 0px;
}

/*---Link Liste Til Højre---*/
.spilAnmeld img{
	width: 50px;
	float: left;
}
.spilAnmeld>div {
	clear: both;
	padding: 10px;
	height: 50px;
}
.spilAnmeld>div:nth-child(even) {
	background-color: #eee
}

.spilAnmeld>div p {
	margin-left: 60px
}
.spilAnmeld div p:nth-child(2) {
	font-size: 15px;
	font-weight: bold;
	margin-bottom: 10px;
}
.spilAnmeld div p:nth-child(n+3) {
	font-size: 13px;
	line-height: 1.2;
}


/*---------------------------------FOOTER------------------------------------*/

footer {
	height: 70px;
	margin-top: 30px;
	background-color: #dddddd;
	border-radius: 5px;
}
footer .row {
	margin-top: 40px;
	justify-content: space-around;
	padding-top: 30px;
	width: 600px;
	margin: 0px auto;
}
footer .row>div {
	border: 1px solid #999;
}
footer span {
	color: #999;
}